<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://kit.fontawesome.com/06a873e6b2.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <%-include("nav.ejs")%>
    <div class="content" data-id="<%=result._id%>">
      <%if(result.username){%>
        <h5>작성자&nbsp;:&nbsp;<strong><%=result.username%></strong><i class="fa-regular fa-comments"></i></h5>
      <%}%>
      <h2><%= result.title %></h2>
      <h5><%= result.content %></h5>
    </div>

    <div class="commentBox">
      <button>댓글<span><%=comment.length%></span></button>
      <ul class="comment">
        <% for(let i=0; i<comment.length; i++){%>
          <li><strong><%=comment[i].username%></strong><span><%=comment[i].date%>&nbsp;<%=comment[i].time%></span>
          <p><%=comment[i].comment%></p></li>
         <%}%>
      </ul>
      <textarea placeholder="댓글을 입력해주세요"></textarea>
      <button data-user="<%=result.username%>">등록</button>
    </div>
    <script>
      let commentShow = document.querySelector(".commentBox>button:first-child");
      let commentBtn = document.querySelector(".commentBox button:last-child");

      document.querySelector(".content").insertAdjacentHTML("beforeend", `<img src="<%- result.img %>"/>`);


      commentBtn.addEventListener("click", function (e) {
        let commentText = document.querySelector("textarea").value;

        fetch("/comment?user=" + e.currentTarget.dataset.user + "&id=" + document.querySelector(".content").dataset.id, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            comment: commentText,
          }),
        })
          .then((r) => r.text())
          .then((r) => {
            let comment = e.currentTarget.parentElement;
          });
      });
    </script>
  </body>
</html>
