<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://kit.fontawesome.com/06a873e6b2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%-include("nav.ejs")%>
    <div class="messageCon">
      <% for(let i=0; i<posts.length; i++){ %>
        <tr class="titleRow">
          <td>
            <h5 class="username"><%=posts[i].username%></h5>
          </td>
          <td>
            <h4><a href="/detail/<%=posts[i]._id%>"><%= posts[i].title %></a></h4>
          </td>

          <td>
            <div class="date">
              <%if(posts[i].user){%>
                <h5><%=posts[i].day%></h5>
              <%}%>
            </div>
          </td>  
        </tr>
      <% } %>
      <!-- <div class="messageBox">
        <div class="partner"><%=partner%></div>
        <form action="POST">
          <input type="text" placeholder="메세지를 입력하세요." />
          <button><i class="fa-regular fa-paper-plane"></i></button>
        </form>
      </div> -->
    </div>
    <script>
      let chatBtn = document.querySelector("form button");

      chatBtn.addEventListener("click", function () {
        console.log("Rrr");
      });
    </script>
  </body>
</html>
